<section class="row">
  <div class="col-12 d-flex flex-column align-items-center justify-content-center mt-5">
    <h2 class="highlight_word text-center">Edition de la leçon</h2>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <%= @lesson.section.training.title %>
        </li>
        <li class="breadcrumb-item">
          <%= @lesson.section.title %>
        </li>
        <li class="breadcrumb-item active" aria-current="page"><%= @lesson.title %></li>
      </ol>
    </nav>
  </div>

  <%= render 'form', lesson: @lesson %>
</section>